---
layout: default
---

<div class="home">

  <h1 class="page-heading">Welcome</h1>

  <blockquote>
  Goal: explain how aspects of my research fit in the broader context that is "we need to see the building blocks of life in action".<br>
  <br>
  I am a structural biologist, that is I focus on the mechanics of the living cell, which includes performing a thorough inventory of its components, describing what they look like and how they move, as well as how they interact with one another.<br>
  <br>
  For the most part, I have been working on describing molecules that were extracted out from the cell prior to measuring stuff on them, like imaging how their atoms are assembled in space, or how they work collectively to provide the whole molecule with an array of motions that it might likely use to carry out its "function" in the cellular context. Think of enzymes catalyzing chemical reactions by munching on small chemical compounds swimming around in a pac-man way...

  </blockquote>

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!--p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p-->

</div>
